body {
    font-family: cursive;
    /* background-color: grey; */
}
h1, h2, h3, h4, p {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
button {
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
  }
h1 {
    font-size: 50px;
}
h4 {
    font-size: 30px;
}
.p-container {
  width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px;
}
#container {
    /* display: inline-flex;
    flex-direction: row;
    width: 100%; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#container > div {
    width: 250px;
    background-color: rgb(243, 243, 243);
    border: 2px black;
    margin: 3px;
  }
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #cc0303;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.icon {
  border-radius: 50%;
}